.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: linear-gradient(to right, #001B2F, #005695);
}
.logoHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 10vh;
}
.logoImg {
    margin-bottom: 15px;
    width: 15%;
}
.h1Header {
    font-size: 1.8vw;
}
.navHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 35vw;
}
.link {
    text-decoration: none;
    font-size: 1vw;
}
.barraPesquisa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 35%;
    border: solid white 2px;
    border-radius: 50px;
    input {
        height: 100%;
        width: 70%;
        text-decoration: none;
        border: none;
        background-color: transparent;
        &::placeholder {
            color: white;
            font-size: 1.5vh;
        }
    }
    button {
        background-color: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
}
.lupaPesquisa {
    height: 1.9vh;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: 8vh;
    }
    .logoHeader {
        width: 50vw;
    }
    .logoImg {
        margin-bottom: 0px;
        width: 15%;
    }
    .h1Header {
        font-size: 3vw;
    }
    .navHeader {
        width: 95vw;
    }
    .barraPesquisa {
        display: none;
    }
    .link {
        font-size: 3vw;
    }
}