.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    background-color: #005695;
}
.emCima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64%;
    padding-left: 10%;
    padding-right: 10%;
    p {
        font-size: 1.5vh;
    }
}
.redes {
    display: flex;
    justify-content: space-between;
    width: 13vw;
}
.emBaixo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36%;
    background-color: #232020;
    p {
        font-size: 1.75vh;
    }
}