.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.logoHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;

    h1 {
        font-size: 25px;
        color: #FFF;
    }
}
.navHeader {
    width: 30%;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .link {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }
}
.barraPesquisa {
    border: 1px solid #FFF;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-right: 1%;

    input {
        background-color: transparent;
        border: none;
        width: 70%;
        height: 5vh;

        &::placeholder{
            color: rgba(255, 255, 255, 1);
            font-size: 15px;
            transition: opacity 0.3s ease;
        }
        &:focus {
            outline: none;
        }
        &:focus::placeholder {
            opacity: 0.4;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 768px){
    .header {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .logoHeader {
        width: 90%;
    }
    .navHeader {
        width: 95%;
    }
    .barraPesquisa{
        display: none;
    }
}