*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-rosa-escuro: #ff69b4;
    --bg-rosa-claro: #ffd9ec;
    --text-color: #ffffff;
}

header {
    height: 14vh;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-rosa-escuro);
    section {
        display: flex;
        align-items: center;
        color: var(--text-color)
    }
    nav {
        display: flex;
        align-items: center;
        width: 30%;
        ul {
            display: flex;
            li {
                margin-left:68px;
                a {
                color: var(--text-color);
                font-weight: bold;
                font-size: 18px;
                }
            }
        }
    }
}

main {
    .sobre, .conscientizacao, .dicas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 85vh;
    }
    article, .img-sobre, .img-consc {
        width: 40%;
    }
    .img-sobre, .img-consc {
        width: 35vw;
        height: auto;
        box-shadow: rgba(205, 136, 223, 2) 0px 7px 29px 0px;
    }
    p {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--bg-rosa-escuro);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(221, 51, 221, 0.2);
    }

}

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-rosa-escuro);
    align-items: center;
    .icones {
        width: 20%;
        img {
            margin-left: 25px;
        }
    }
    .infos {
        width: 30%;
        span {
            font-weight: 600;
        }
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: 16vh;
    }

    main {
        height: 250vh;
            p {
                font-size: 1rem;
            }
        .dicas {
            display: flex;
            img {
                width: 18vw;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        .icones {
            display: flex;
            justify-content: center;
            img {
                width: 5vw;
                display: flex;
            }
        }
        .infos {
            font-size: 12px;
        }
        .laco img {
            width: 10vw;
        }
    }
}

@media (max-width: 500px) {
    header {
        height: 16vh;
    }
    // nav ul {
    //     flex-direction: column;
    //     align-items: center;
    // }
    main {
        height: 340vh;

        .sobre, .conscientizacao, .dicas {
        flex-direction: column;
            p {
                font-size: 0.8rem;
            }
        }
    }

    footer {
        // .laco {
        // width: 100%;
        // }
        .icones {
            display: flex;
            justify-content: center;
            img {
                width: 10vw;
                display: flex;
            }
        }
        .infos {
            width: 70vw;
            font-size: 12px;
        }
        .laco img {
            width: 20vw;
        }
    }
}

