.primeiraSessaoInicio {
    height: 80vh;
    background-image: url('../../assets/img/backgroundInicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 6%;

    h2 {
        color: #FFF;
        font-size: 32px;
        width: 20%;
    }
}

.porqueDoarSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;

    h2 {
        font-size: 40px;
        color: #005695;
        width: 92%;
    }
}
.containerCards {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;

    section {
        background-color: #0157944D;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;

        p {
            font-size: 22px;
            text-align: center;
            width: 90%;
        }
    }
}

@media (max-width: 780px) {
    .primeiraSessaoInicio {
        background-position: center;
        height: 50vh;

        h2 {
            width: 90%;
            font-size: 28px;
            text-align: center;
        }
    }

    .porqueDoarSection {
        height: 120vh;

        h2 {
            font-size: 28px;
            text-align: center;
        }
    }

    .containerCards {
        flex-direction: column;
        height: 110vh;
        align-items: center;
        section {
            width: 70%;
            height: 25vh;
            p {
                font-size: 18px;
            }
            img {
                width: 15%;
            }
        }
    }
}