.introducaoInicio {
    display: flex;
    align-items: center;
    height: 45vh;
    background-image: url("../../assets/img/backgroundInicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        width: 22%;
        margin-left: 10%;
        font-size: 2vw;
    }
}
.motivosDoacao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 55vh;
    h2 {
        color: #005695;
        width: 84%;
    }
}
.listaMotivos {
    display: flex;
    justify-content: space-evenly;
    height: 75%;
}
.motivoSolo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 80%;
    border-radius: 10%;
    background-color: #0157944D;
    img {
        width: 28%;
    }
    figcaption {
        width: 85%;
        font-size: 1.15vw;
        color: black;
        text-align: center;
    }
}