.primeiraSessaoInicio {
    height: 75vh;
    background-image: url('../../assets/img/rede_doacao.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 6%;

    h2 {
        color: #fff;
        font-size: 32px;
        width: 30%;
    }
}