.mainLivrosDoados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    h2 {
        font-size: 32px;
        color: black;
    }
}
.listaLivros {
    width: 95%;
    height: 60vh;
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 12%;
        height: 50%;
        border: solid 3px #005695;
        border-radius: 15px;
        img {
            height: 50%;
        }
        div {
            text-align: center;
            h3 {
                font-size: 14px;
                color:black;
            }
            p {
                font-size: 12px;
                color: black;
            }
        }
    }
}

@media (max-width: 768px) {
    .listaLivros {
        display: flex;
        flex-direction: column;
        align-items: center;
        section {
            width: 60%;
        }
    }
}